aside {
    margin: 0px 1300px 10px 20px;
}

h4 {
    margin: 5px;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

* {
    box-sizing: border-box;
}

body {
    height:1000px;
    margin:0;
}
li {
    line-height: 1.0;
    font-size:0.9em;
}

#container {
    position:absolute;
    left:50%;
    margin-left:-650px;
    width:900px;
    /*height:100%;*/
}

aside {
    float:left;
    width:300px;    
    padding:20px 50px;
    height:1200px;
}


#main {
    float:right;
    width:600px;
    height:100%;
    padding:20px;
}

#main > section {
    width:500px;
    padding:20px;
    margin:10px;
}
header {
    margin-top: 40px ;
}
header h1 {
    margin: 0px 0px 0px 500px;
    overflow: hidden;
}
header img {
    margin-left: 550px;
}
body {
    justify-content: center;
    align-items: center;
  }

#com1 {
    border: 2px solid black; /* 테두리 직선 */
    border-radius: 0px;
    width: 130%;    
    
}

.label {
    display:inline-block;
    width:80px;
    color:purple;
    font-weight:bold;
}

a, a:visited {
    text-decoration: none;  /* 밑줄 없앰 */
}

#com1 {
    margin: 5px 5px 5px 5px;
}


/* 본문 스타일 */
.content {
    margin-left: 220px;
    padding: 20px;
}

.post {
    display: flex;
}


.search-container {
    display: flex;
    align-items: center;
    width: 300px;
    padding: 5px;
    border-radius: 5px;
}

.search-icon {
    margin-right: 0.1px;
}
.search-input {
    flex: 1;
    margin: 0px 1300px 0px 0px;
}
.caption1 {
    top: -14px;
    left: 5px;
    width: 385px;
    height: 230px;
    position: absolute;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 0.2s ease-in-out;
    color: white;
    text-align: center;
}
.caption2 {
    top: -14px;
    left: 5px;
    width: 385px;
    height: 230px;
    position: absolute;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 0.2s ease-in-out;
    color: white;
    text-align: center;
}
li:hover .caption1{
    opacity: 1;
    transform: translateY(-200px);
}
li:hover .caption2{
    opacity: 1;
    transform: translateY(-200px);
}

h4 {
    text-align: center;
}

h5 {
    text-align: center;
    font-size: 15px;
    margin: 0px;
}