/*문서 전체, 글꼴은 맑은 고딕, 바깥여백 5px*/
* {
    font-family: "맑은 고딕";
    margin: 5px;
}

/*header, footer 영역 - 안쪽 여백 20, 배경 색상, 가운데 정렬*/
header, footer {
    background-color: rgb(255, 122, 122);
    padding: 20px;
    text-align: center;
}

/*Nav 영역 . 배경색, 가운데 정렬, 글자크기 10, 진하게, 안쪽 여백 20*/
nav {
    background-color: rgb(226, 132, 255);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
}

/*하이퍼링크 - 밑줄 없음, 가로길이 100, 세로 길이 10, 안쪽 여백 20*/
a {
    text-decoration: none;
    width: 100px;
    height: 10px;
    padding: 20px;
    /* background-color: rgb(255, 113, 113); */
    display: inline-block;
}

a:link, a:visited {
    color: black
}

a:hover, a:active {
    color: white;
    background-color: deepskyblue;
    text-decoration: underline;
}

/*배경 색상, 테두리, 가로 길이 48%, 높이 200, 가로 정렬*/
section {
    background-color: lightskyblue;
    border: 3px;
    width: 48%;
    height: 200px;
    float: left;
}

/*footer clear 적용*/
footer {
    clear: both;
    background-color: beige;
}

.c1 {
    color: white;
    padding:  10px;

}

/*각  section의 제목의 배경 색상은 각각 다름*/
#s1 > h1{
    background-color: rgb(126, 255, 143);
}

#s2> h1{
    background-color: rgb(126, 167, 255);
}
#s3 > h1{
    background-color: rgb(172, 120, 255);
}
#s4 > h1{
    background-color: rgb(255, 116, 116);
}
#s5 > h1{
    background-color: rgb(219, 255, 134);
}
#s6 > h1{
    background-color: rgb(255, 123, 182);
}